* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px ;
}

.logo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.logo span {
    font-family: sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.logo p {
    font-family: sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
    padding: 5px;
    transition: 0.3s ease;
}

nav a:hover {
    background-color: navy;
    color: white;
    padding: 5px;
    transition: 0.3s ease;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.til p {
    font-size: 1.2rem;
    font-family: sans-serif;
}


.til {
    display: flex;
    gap: 25px;
}

.hero {
    background: url('https://times-school.uz/img/banner.jpg');
    background-size: cover;
    height: 100vh;
    padding-top: 280px;
    padding-left: 20px;
    font-size: 25px;
}

.hero h1 {
    color: white;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 633;
    text-shadow: 5px 5px 15px black;
}

.hero-btns {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.hero-btn {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    background: navy;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 25px;
    padding-top: 25px;
    color: white;
    margin-top: 50px;
    border-radius: 20px;
}

.s-btns {
    display: flex;
    background-color: navy;
    width: fit-content;
    gap: 20px;
    border-radius: 50px;
    padding: 20px 40px;
}

.social-btn {
    border: 2px solid white;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    width: 73px;
    height: 73px;
    transition: .3s ease;
}

.social-btn:hover{
    border-radius: 15px;
    background-color: blue;
    transform: scale(1.2);
    transition: 0.3s ease;
}

.s-btns-content p {
    font-family: "Raleway", sans-serif;
    color: white;
    margin-left: 60px;
    margin-bottom: 15px;
    text-shadow: 5px 5px 10px black;

}

.social-btns-part {
    display: flex;
    justify-content: right;
    margin-top: 50px;
    margin-left: 20px;
}

.About-part-2 img {
    width: 800px;
    height: 600px;
    margin-top: 50px;
    margin-left: 10px;
}

.main-h1 {
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: navy;
}

.About-part-2 {
    display: flex;
}

.About-part-2 p {
    font-family: inherit;
    font-size: x-large;
    margin-left: 10px;
    margin-top: 150px;
}

.card h6 {
    font-size: x-large;
    font-family: "Raleway", sans-serif;
    padding-bottom: 20px;
    padding-left: 40px;
}

.card p {
    font-size: x-large;
    font-family: sans-serif;
}

.card {
    border: 1px solid navy;
    width: 470px;
    padding: 30px 30px 30px 30px;
    margin-left: 30px;
    border-radius: 15px;
    margin-top: 30px;
}

.card img {
    padding-left: 150px;
}

.qator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.courses-1 {
    background-color: rgb(235, 246, 247);
    margin-top: 80px;
}

.rasm {
    width: 450px;
    height: 300px;
    border: 1px solid rgb(235, 246, 247);
    border-radius: 20px;
    background-size: cover;
}

.rasm h1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Raleway", sans-serif;
    color: white;
    border-radius: 20px;
}

.qator-1 {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}

.rasm-1 {
    background-image: url(content/bolla\ va\ qizla.png);
}

.rasm-2 {
    background-image: url(content/Angliya.png)
}

.rasm-3 {
    background-image: url(content/Rossiya.png)
}

.rasm-4 {
    background-image: url(content/korea.png)
}

.rasm-5 {
    background-image: url(content/matem.png)
}

.rasm-6 {
    background-image: url(content/it.png)
}

.button-2 {
    background-color: navy;
    color: white;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 550px;
    height: 70px;
    margin-left: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.team-1{
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    text-align: center;
}
.strelka img{
    width: 60px;
    height: 60px;
    border: 3px solid navy;
    border-radius: 100px; 
}

.strelka {
    display: flex;
    justify-content: right;
    gap: 20px;
    padding-right: 50px;
}

.strelkaa{
    transform: rotate(180deg);
}
.teachers-1 img{
    width: 289.13px;
    height: 514px;
}
.teachers-1{
    border: 1px solid navy;
    display: flex;
    padding-left: 50px;
    gap: 50px;
    padding: 50px;
    margin: 30px;
    border-radius: 20px;
}
.ustoz{
    background-color: navy;
    color: white;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 250px;
    height: 70px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.teachers-2 h1{
    font-family: "Raleway", sans-serif;
    font-size: 40px;
}
.teachers-2 p{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    padding-top: 20px;
}


.result-1 img{
    width: 350px;
    height: 500px;
    margin: 80px 30px 30px 30px;

}
.result-1{
    background-color: rgb(82, 82, 156);
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}
.result-inner{
    display: flex;
}

.result-inner div {
    padding-top: 100px;
}
.mashhura h1{
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: white;
}
.mashhura p {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: white;
}
.Ielts p {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: white;
    padding-top: 30px;
    margin-top: 40px;
    padding-right: 60px;
}
.branch h1{
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: navy;
}
.branch p{
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin: 70px 0;
}
.branch-1{
    display: flex;
}

.yontomon{
    writing-mode: vertical-lr;
    font-family: "Raleway", sans-serif;
    color: white;
    background-color: navy;
    display: flex;
    justify-content: center;
} 

.branches {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px ;
}
.footer-1 img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.footer-1 h1{
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    font-size: 40px;
    padding-left: 10px;
}
.footer-1{
    display: flex;
    padding: 20px 20px 20px 20px;
}
.footer {
    background-color: navy;
    display: flex;
}
.Courses-10 p {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
}
.Courses-10 a{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 1;
    color: white;
    font-size: 20px;
}
.Courses-10{
    padding-left: 100px;
    padding-top: 70px;
}
.about-us p {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
}
.about-us {
    padding-left: 100px;
    padding-top: 70px;
}
.about-us a  {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 1;
    color: white;
    font-size: 20px;
}
.adress-1{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
}
.i {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 1;
    color: white;
    font-size: 20px;
}
.adress {
    padding-left: 100px;
    padding-top: 70px;
}
.i-1 {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 1;
    color: white;
    font-size: 20px;
    margin-top: 30px;
}
.follow-p {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
}
